 
  <div class="row">
    <div class="col-sm-6">
       <div class="form-group" id="jobIndustry">
          <label>Book Type *</label>      
  
          <ui-select ng-model="reportCtrl.order.bookType" theme="bootstrap"  close-on-select="true" style="width: 100%;" title="Choose a Book Type">
            <ui-select-match placeholder="Select book type...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="bookType in reportCtrl.availableBookTypes | filter:$select.search">
              {{bookType}}
            </ui-select-choices>
          </ui-select>
       </div>
    </div>
    <div class="col-sm-6">
       <div class="form-group" id="jobOtherIndustry">
          <label>No of Copies</label>
          <div id="new_job_industryOther_error">
             <input id="new_job_no_of_copies" autocomplete="off" type="text" ng-model="job.typeOther" placeholder="No of Copies" maxlength="255" class="form-control">
          </div>
       </div>
    </div>
  </div>
  
 <div class="row">
    <div class="col-sm-12">
       <div role="form">
          <div class="form-group">
             <label>Book Name *</label>
             <div id="new_book_name_error" ng-class="{'has-error':name_error == true}">
                <input id="new_book_name" autocomplete="off" type="text" ng-model="reportCtrl.order.bookName" placeholder="Book Name" maxlength="500" class="form-control" ng-change="name_error = false">
             </div>
          </div>
          <div class="form-group">

          </div>
       </div>
    </div>
 </div>
<div class="row">
  <div class="col-sm-6">
     <div class="form-group" id="PrintorderNo">
        <label>Print Order No *</label>
        <div id="print_order_no_error" ng-class="{'has-error':name_error == true}">
          <input id="print_order_no" autocomplete="off" type="text" ng-model="reportCtrl.order.printOrderNumber" placeholder="Print Order No" maxlength="255" class="form-control" ng-change="name_error = false">
       </div>  
     </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group" id="jobOtherIndustry">
        <label>Print Order date *</label>
        <div id="new_job_industryOther_error">
           <input id="new_job_industryOther" autocomplete="off" type="date" ng-model="order.printOrderDate" placeholder="Print Order date" maxlength="255" class="form-control">
        </div>
     </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
          <div class="form-group">
             <label>Release order No *</label>
             <div id="new_company_name_error" ng-class="{'has-error':name_error == true}">
                <input id="new_company_name" autocomplete="off" type="text" ng-model="order.printReleaseNumber" placeholder="Print Release No" maxlength="255" class="form-control" ng-change="name_error = false">
             </div>
          </div>
    </div>
    <div class="col-sm-6">
          <div class="form-group">
             <label>Release order Date *</label>
             <div id="new_company_description_error" ng-class="{'has-error':company_desc_error == true}">
                <input id="new_company_name" autocomplete="off" type="date" ng-model="order.printReleaseDate" placeholder="Release Order Date" maxlength="255" class="form-control" ng-change="name_error = false">

               
             </div>
          </div>
       </div>
</div>
  
 
 <div class="row">
  <div class="col-sm-6">
     <div class="form-group" id="jobIndustry">
        <label>Book Type *</label>      

        <ui-select ng-model="reportCtrl.order.bookType" theme="bootstrap"  close-on-select="true" style="width: 100%;" title="Choose a Book Type">
          <ui-select-match placeholder="Select book type...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="bookType in reportCtrl.availableBookTypes | filter:$select.search">
            {{bookType}}
          </ui-select-choices>
        </ui-select>
     </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group" id="jobOtherIndustry">
        <label>No of Copies</label>
        <div id="new_job_industryOther_error">
           <input id="new_job_no_of_copies" autocomplete="off" type="text" ng-model="job.typeOther" placeholder="No of Copies" maxlength="255" class="form-control">
        </div>
     </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-6">
        <div class="form-group">
           <label>No of BRV *</label>
           <div id="new_company_name_error" ng-class="{'has-error':name_error == true}">
              <input id="new_no_of_BRV" autocomplete="off" type="text" ng-model="order.printReleaseNumber" placeholder="Print Release No" maxlength="255" class="form-control" ng-change="name_error = false">
           </div>
        </div>
  </div>
  <div class="col-sm-6">
        <div class="form-group">           
          
        </div>
     </div>
</div>  
